{% for label, messages in app.flashes(['success','warning','error','info']) %}
    {% for message in messages %}
        <div class="alert alert-{{ label }} text-center">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}